/*

-----------------------------------------------
Accordion
-----------------------------------------------

*/

.accordion-toggle {
	cursor: pointer;
}

.js-accordion-content {
	display: none;
}

.js-accordion-content.default {
	display: block;
}