/*

-----------------------------------------------
2. Defaults & resets & variables
-----------------------------------------------

*/

* { box-sizing: border-box }

html
body {
  font-size:   16px;
  line-height: 1.5;
  margin:           0px !important;
}


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after { clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf { *zoom: 1; }

//////////////
// Misc.

.no-scroll {
  overflow-x: hidden; 
  overflow-y: auto;
}

.tester {
  border: 2px solid red;
}

.li--no-bullet {
  list-style-type: none;
}
