/*

-----------------------------------------------
Misc. CSS
-----------------------------------------------

*/

.fa-white {
	color: $color--white;
}

.fa-blue {
	color: $color--blue;
}

.fa-red {
	color: $color--red;
}