$body-color:            	#515151;
$body-background-color: 	#fff;

$color--light-grey: #e5e5e5;

$color--dark-grey:        #313131;
$color--white:            #fff;


$link-color:            	#268bd2;

$headings-color:        	#313131;    // h1,h2,h3,h4,h5,h6

$strong-color:          	#303030;    // strong

$blockquote-color:        	#7a7a7a;  // blockquote
$blockquote-border-color: 	#e5e5e5;

$font--size-small:        13px;
$font--size-regular:      16px;
$font--size-large:        22px;


$ipad--landscape:	1024px;
$ipad--portrait:	768px;


$color--blue: #304a8c;


$border--large: 10px solid $color--blue;