/*

-----------------------------------------------
Settings
-----------------------------------------------

*/

$z--negative: -10;
$z--base: 0;
$z--middle: 20;
$z--upper: 50;
$z--top: 99;

$body-color:            	#515151;
$body-background-color: 	#fff;

$headings-color:        	#313131;    // h1,h2,h3,h4,h5,h6

$strong-color:          	#303030;    // strong

$blockquote-color:        	#7a7a7a;  // blockquote
$blockquote-border-color: 	#e5e5e5;

$font--size-small:        13px;
$font--size-regular:      16px;
$font--size-large:        22px;


$ipad--landscape:	1024px;
$ipad--portrait:	768px;


$border--large: 10px solid blue;

$padding--small: 5px;
$padding--large: 15px;
$padding--extra-large: 5%;