.chapter--sidebar-social-worker-practitioner {
  h2 {
    padding-bottom: $padding--large;
  }
}

.button {
	display: inline-block;
	
	border-radius: 4px;
	text-align: center;
	padding: 13px 16px;
	font-size: 16px;
	line-height: 16px;
	cursor: pointer;
	text-decoration: none;
	@inlcude hover_transition;

  font-family: $text--secondary-font;

	&--red {
		background: $color--red;
    color: $color--white;
    border: 1px solid lighten($color--red, 5);
	}
  &--blue {
    background: $color--blue;
    color: $color--white;
    border: 1px solid lighten($color--blue, 5);
  }
  &--centered {
    display: block !important;
    margin: 0 auto;
  }
}

/*.hex-wrap { float: left; }*/

.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px auto;
  background-size: auto 346.4102px;
  background-position: center;
  /* background-image: set in the html */
}

.hex-top,
.hex-bottom {
  position: absolute;
  z-index: $z--middle;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 43.93px;
}

/*counter transform the bg image on the caps*/
.hex-top:after,
.hex-bottom:after {
  content: "";
  position: absolute;
  width: 300.0000px;
  height: 173.20508075688775px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hex-top {
  top: -106.0660px;
}

.hex-top:after {
  background-position: center top;
}

.hex-bottom {
  bottom: -106.0660px;
}

.hex-bottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 300.0000px;
  height: 173.2051px;
  z-index: $z--middle;
  background: inherit;
}