<header class="wrapper--inner">
	
	<img src="{{ page.image_path }}" alt="{{ page.image_path }}">

	<!-- get current content -->
	<h2 class="text--chapter-title">{{ page.title }}</h2>
	<h3 class="text--chapter-subtitle">{{ page.subtitle}}</h3>
	
	<p class="text--chapter-number">{{ page.chapter_num }}</p>
	<p class="text--chapter-author">{{ page.chapter_author }}</p>

	<p class="text--chapter-quote">{{ page.intro_quote }}</p>
	<p class="text--chapter-attr">{{ page.intro_quote_attr }}</p>
	
</header>