<section class="wrapper--inner">

  <header class="wrapper--table-wrap">
    <h2>An Overview of Selected Mental Illnesses and Disorders</h2>
  </header>

  <table>
    <tbody>
      <tr>
        <td></td>
        <td>Risk Factors</td>
        <td>Signs/Symptoms</td>
        <td>Possible Impact on Life</td>
        <td>Treatment/Coping</td>
      </tr>

      <tr>
        <td colspan="1"><div class="table--headline">Anxiety Disorders</div></td>
        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet">parental depression or anxiety</li>
            <li class="li--bullet">children who cannot tolerate uncertainty</li>
            <li class="li--bullet">extremely shy children and those likely to be the target of bullies</li>
          </ul>
        </td>
        
        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet">restlessness (inability to relax, feeling uptight, apprehensive)</li>
            <li class="li--bullet">disturbed sleep</li>
            <li class="li--bullet">pounding or racing heartbeat</li>
            <li class="li--bullet">upset stomach (including stomach pains, diarrhea, and nausea)</li>
            <li class="li--bullet">light-headedness/dizziness and/or headaches</li>
            <li class="li--bullet">breathlessness</li>
            <li class="li--bullet">difficulty concentrating</li>
            <li class="li--bullet">fear of losing control</li>
            <li class="li--bullet">extreme need for reassurance
          </ul>
        </td>

        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet">can be stereotyped as chronic “worry wart”</li>
            <li class="li--bullet">can lead to social isolation and avoidance of many situations (e.g., public speaking, eating/dressing in public, school activities)</li>
            <li class="li--bullet">can limit ability to function in various areas of daily life:</li>
            <li class="li--bullet">self care: bathing, dressing, eating</li>
            <li class="li--bullet">family relationships</li>
            <li class="li--bullet">going to school or work</li>
            <li class="li--bullet">doing household tasks and fulfilling responsibilities</li>
          </ul>
        </td>
        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet">education and counselling to help the person understand his/her thoughts, feelings, and behaviours</li>
            <li class="li--bullet">cognitive behavioural therapy</li>
            <li class="li--bullet">relaxation techniques</li>
            <li class="li--bullet">biofeedback to control muscle tension</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td colspan="1"><div class="table--headline">Autism</div></td>
        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet">appears to have a genetic link, but there are no known environmental causes</li>
          </ul>
        </td>

        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet">ability to respond does not develop normally in the first three years</li>
            <li class="li--bullet">will often respond bizarrely to their environment</li>
            <li class="li--bullet">seem to lack interest in others, acting as if hard of hearing</li>
            <li class="li--bullet">often unable to sustain eye contact</li>
            <li class="li--bullet">seem not to care whether they are cuddled or held</li>
            <li class="li--bullet">failure to develop language, or a tendency toward repeating or echoing what is said to them</li>
            <li class="li--bullet">unable to form two-way, give-and-take social relationships</li>
          </ul>
        </td>
        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet">failure to develop useful speech or trouble with starting/continuing conversations</li>
            <li class="li--bullet">may have distinct skills in specific areas, such as music or math, while simultaneously experiencing difficulty in other areas of mental processing</li>
            <li class="li--bullet">large physical and emotional demands on parents caring for autistic children</li>
            <li class="li--bullet">children identified early and given specific support are often able to live almost normally</li>
          </ul>
        </td>
        <td>
          <ul class="ul--list ul--chart">
            
            <li class="li--bullet">Autism is not a disease in the true sense and generally does not need treatment; however, medication can be prescribed for specific problems associated with autism, such as</li>
           
              <ul class="ul--sub-list">
                <li class="li--sub-bullet">hyperactivity,</li>
                <li class="li--sub-bullet">obsessive behaviour, and
                <li class="li--sub-bullet">epilepsy.</li>
              </ul>

            <li class="li--bullet">Educational management and parental support are helpful during an autistic child’s development.</li>

          </ul>
        </td>
        
      </tr>

      <tr>
        <td colspan="1"><div class="table--headline">Attention-Deficit/Hyperactivity Disorder (ADHD)</div></td>
        <td>
          <ul class="ul--list ul--chart">

          <li class="li--bullet">genetics</li>
            <li class="li--bullet">viruses</li>
            <li class="li--bullet">harmful chemicals in the environment</li>
            <li class="li--bullet">problems during pregnancy or delivery</li>
            <li class="li--bullet">anything that hurts brain development</li>

          </ul>
        </td>
        <td>
          <ul class="ul--list ul--chart">
            <p class="text--bold text--bold-grey">Inattentive Type</p>

              <li class="li--bullet">short attention span</li>
              <li class="li--bullet">easily distracted</li>
              <li class="li--bullet">no attention to detail</li>
              <li class="li--bullet">failure to finish things</li>
              <li class="li--bullet">trouble remembering things</li>
              <li class="li--bullet">poor listening skills</li>
              <li class="li--bullet">unable to stay organized</li>
              
            <p class="text--bold text--bold-grey">Hyperactive–Impulsive Type</p>
              
              <li class="li--bullet">often fidgets or squirms</li>
              <li class="li--bullet">runs/climbs when they shouldn’t</li>
              <li class="li--bullet">talks too much, interrupts</li>
              <li class="li--bullet">trouble taking turns</li>
          </ul>
        </td>
        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet"> difficulty managing situations that require lengthy and quiet focus </li>
            <li class="li--bullet"> disruption in family, social, and school life </li>
            <li class="li--bullet"> at risk for many other mental disorders (conduct disorder, anxiety disorder, depression)  </li>
            <li class="li--bullet"> at risk for developing personality and substance abuse disorders in adolescence or adulthood  </li>
          </ul>
        </td>
        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet"> Early diagnosis is crucial. </li>
            <li class="li--bullet"> Treatment can include </li>
            <li class="li--bullet"> Treatment can include </li>
              
              <ul class="ul--sub-list">
                
                <li class="li--bullet"> medication, </li>
                <li class="li--bullet"> behavioural therapy,  </li>
                <li class="li--bullet"> classroom modifications, and  </li>
                <li class="li--bullet"> counselling.  </li>

              </ul>
            
            <li class="li--bullet"> Parents and teachers find it helpful to get instruction on how to manage and modify behaviour, such as rewarding good behaviour.  </li>
          </ul>
        </td>
      </tr>

      <tr>
        <td colspan="1"><div class="table--headline">Major Depression</div></td>
        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet">heredity (history of depression among family members)</li>
            <li class="li--bullet">being raised in an abusive environment</li>
            <li class="li--bullet">stressful life events (e.g., parental death or divorce)</li>
            <li class="li--bullet">sensitive, perfectionist personality</li>
          </ul>
        </td>
        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet">fatigue/loss of energy</li>
            <li class="li--bullet">loss of interest in usual activities and/or pleasure in life</li>
            <li class="li--bullet">sadness that won’t go away</li>
            <li class="li--bullet">unexplained irritability or crying</li>
            <li class="li--bullet">sense of worthlessness, guilt, hopelessness</li>
            <li class="li--bullet">low self-esteem and lack of self-confidence</li>
            <li class="li--bullet">difficulty thinking and concentrating</li>
            <li class="li--bullet">can have thoughts of suicide and death</li>
          </ul>
        </td>
        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet">misses school or has poor school performance</li>
            <li class="li--bullet">can have difficulty making it through daily activities</li>
            <li class="li--bullet">may also have alcohol or other substance use disorder</li>
            <li class="li--bullet">difficulties with home life and withdrawal from friends</li>
            <li class="li--bullet">risk of suicide</li>
          </ul>
        </td>

        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet">“talk” treatments (often used with adolescents) </li>
            <li class="li--bullet">Medications can be prescribed, but they tend to work better for adults. </li>
            <li class="li--bullet">Young people may need a “plan of care” to help with daily life. </li>
            <li class="li--bullet">Lifestyle changes, such as increased exercise and physical activity, can help.  </li>
            <li class="li--bullet">Parents and teachers find it helpful to get instruction on how to manage and modify behaviour, such as rewarding good behaviour.  </li>
          </ul>
        </td>

      </tr>

      <tr>
        <td colspan="1"><div class="table--headline">Major Depression</div></td>

        <td>
          <ul class="ul--list ul--chart">
            <li class="li--bullet"> genetic link  </li>
            <li class="li--bullet"> biological factors—abnormal brain structure and activity  </li>
            <li class="li--bullet"> environmental influences (e.g., family factors may be involved in onset of schizophrenia) </li>
            <li class="li--bullet"> substance use (e.g., cannabis) can worsen symptoms  </li>
            
          </ul>
        </td>

        <td>
          <ul class="ul--list ul--chart">
            
            <li class="li--bullet"> delusions (beliefs not founded in facts)  </li>
            <li class="li--bullet"> hallucinations (hearing, seeing, feeling, smelling, or tasting something that does not exist) </li>
            <li class="li--bullet"> disorganized thoughts, odd speech </li>
            <li class="li--bullet"> declining ability to take care of personal hygiene and grooming </li>
            <li class="li--bullet"> altered sense of self (sense of self or personal identity may be greatly reduced) </li>
            <li class="li--bullet"> withdrawn and preoccupied—no contact with outside world </li>
            
          </ul>
        </td>

        <td>
          <ul class="ul--list ul--chart">
            
            <li class="li--bullet"> affects all aspects of a person’s daily life  </li>
            <li class="li--bullet"> Educational progress is often disrupted, and young people may be unable to finish school or hold down a job.  </li>
            <li class="li--bullet"> requires much family and community support  </li>
            <li class="li--bullet"> Society often excludes people with this illness due to a lack of understanding and a fear of the risk of suicide. </li>

          </ul>

        </td>

        <td>
          <ul class="ul--list ul--chart">
            
            <li class="li--bullet">Often, medication is required to control the most troubling symptoms.</li>
            <li class="li--bullet">When symptoms are controlled, psychotherapy and self-help groups can assist people with</li>
            
              <ul class="ul--sub-list">
                
                <li class="li--bullet li--sub-list-item">developing social skills,</li>
                <li class="li--bullet li--sub-list-item">coping with stress,</li>
                <li class="li--bullet li--sub-list-item">identifying early warning signs of relapse, and</li>
                <li class="li--bullet li--sub-list-item">prolonging periods of wellness.</li>

              </ul>

          </ul>
        </td>
      </tr>

      <tr>
        <td colspan="1"><div class="table--headline">Bipolar Mood Disorder</div></td>
        <td>
          <ul class="ul--sub-list ul--chart">
            <li class="li--bullet">Men and women are equally at risk of developing this disorder.  </li>
            <li class="li--bullet">genetics, chemical imbalance in brain </li>
            <li class="li--bullet">stress may play a part  </li>
            <li class="li--bullet">mania more common in spring, depression in winter </li>
            <li class="li--bullet">usually begins in adolescence or in twenties  </li>
          </ul>
        </td>
        
        <td>
          <ul class="ul--sub-list ul--chart">
            
            <p class="text--bold text--bold-grey">Mania</p>
              
              <li class="li--bullet">individual feels extremely high, happy, full of energy  </li>
              <li class="li--bullet">reduced need for sleep  </li>
              <li class="li--bullet">irritability  </li>
              <li class="li--bullet">rapid thinking and speech </li>
              <li class="li--bullet">lack of inhibitions </li>
              <li class="li--bullet">big plans and schemes </li>
              <li class="li--bullet">may not see own behaviour as inappropriate  </li>
            
            <p class="text--bold text--bold-grey">Depression  </li>
              
              <li class="li--bullet">loses interest in activities  </li>
              <li class="li--bullet">may stop seeing friends </li>
              <li class="li--bullet">loss of appetite  </li>
              <li class="li--bullet">may attempt suicide </li>
              <li class="li--bullet">may develop false beliefs of guilt or feel that he/she is evil or being attacked  </li>

          </ul>
        </td>
        
        <td>
          <ul class="ul--sub-list ul--chart">
            
            <li class="li--bullet"> can have difficulty making it through the daily activities of life  </li>
            <li class="li--bullet"> may experience significant weight loss or gain  </li>
            <li class="li--bullet"> possible difficulties at school, work, home life  </li>
            <li class="li--bullet"> may withdraw from social activities </li>
            <li class="li--bullet"> risk of suicide </li>

          </ul>
        </td>
        
        <td>
          <ul class="ul--sub-list ul--chart">
            
            <li class="li--bullet"> In the manic phase, the person may not see a need for treatment.  </li>
            <li class="li--bullet"> Medications can be effective (e.g., antidepressants for depressive phase, medications such as lithium to help control mood swings)  </li>
            <li class="li--bullet"> Counselling along with medication is considered the most effective treatment. </li>
            <li class="li--bullet"> With access to appropriate treatment and support, the person can lead a full and productive life. </li>

          </ul>
        </td>
        
      </tr>

    </tbody>
  </table>




</section>
