<section class="wrapper--inner wrapper--main-file">

<p class="text--bold text--bold-grey">The Health of Canada&rsquo;s Indigenous Peoples</h4>

<p>As a result of the Indian Act, the federal government has declared self-appointed jurisdiction over Indigenous peoples&rsquo; health care. The health status of some Indigenous peoples lags far behind that of other Canadians. Some communuities are healthy and thriving, but others face many challenges, often stemming from the residual impacts of colonization. </p>

<!-- <img src="./assets/chapters/6/photos/first-nations-food.jpg" alt=""> -->

<p>The Assembly of First Nations (AFN) points out that the health gap between First Nations people and the general population is widening. Sixty-two percent of adult Canadians over the age of 15 reported their health as being excellent or very good, whereas only 58 percent of M&eacute;tis, 53 percent of First Nations people living off reserve, and 50 percent of Inuit adults identify their health as excellent or very good (Canadian Community Health Survey, 2005; Aboriginal People&rsquo;s Survey, 2006).</p>

<p>The AFN&rsquo;s Health Secretariat, the National First Nations Health Technicians Network (NFNHTN), and the Chiefs Committee on Health (CCOH) have identified seven health priorities in relation to closing the health gap:</p>

<ul class="ul--list">
	
	<li class="li--no-bullet">sustainability</li>

	<li class="li--no-bullet">children&rsquo;s health/gender health</li>

	<li class="li--no-bullet">health research</li>

	<li class="li--no-bullet">smoking, and</li>

	<li class="li--no-bullet">jurisdictional issues</li>

	<li class="li--no-bullet">environmental health and infrastructure</li>

	<li class="li--no-bullet">mental health</li>

</ul>

<p>These priorities have been, and continue to be, urgent.</p>

<p>The prevalence of risk factors and chronic conditions varies significantly between Aboriginal and non-Aboriginal populations, with Aboriginal people generally having less favorable outcomes. Obesity and being overweight, for example, are more common among Aboriginal people. Also, the likelihood of having at least one chronic condition and conditions such as cardiovascular disease and diabetes is higher among Aboriginal people, even when sociodemographic characteristics are taken into account.</p>

<p class="text--bold text--bold-grey">The Importance of Traditional Indigenous Approaches to Health and Healing</p>

<p>Current health disparities are linked to the historical impacts of colonization and cannot be understood in isolation from the structural determinants of health. Insufficient funding for Indigenous programs and services, inadequate health system infrastructure in Indigenous communities, economic exclusion, and educational inequities along with overcrowded housing, particularly in remote communities, affect the overall social determinants of community health (Greenwood et al., 2015).</p>

<p>As one of 94 calls to action, the Truth and Reconciliation Commission (2015) has urged the federal government to establish mechanisms to narrow the health-care gap between Aboriginal peoples and other Canadians, including building Aboriginal healing practices into the health-care system and spending more on Aboriginal healing centres.</p>

<p>While improvements in health-care services have eased this situation somewhat, they have also contributed to the gradual erosion of traditional Indigenous holistic approaches to health and healing. Indigenous leaders wish to see an integrated, holistic, interdepartmental, and interorganizational strategy to address the inequities in health and social service delivery. They believe that jurisdictional issues between the federal and provincial governments with respect to responsibility for Indigenous health care need to be removed.</p>

	<aside class="chapter--main-aside cf">
		<div class="grid--half">
			<div class="hex-wrap">
				
				<div class="hexagon filter--greyscale" style="background-image:url('{{ prepend: site.baseurl }}/assets/chapters/6/photos/first-nations-housing.jpg')">
				  <div class="hex-top"></div>
				  <div class="hex-bottom"></div>
				</div>
				
			</div>
		</div>

		<div class="grid--half">
			
			<h3>Adverse Living Conditions</h3>

			<p>While the housing conditions of some Indigenous peoples have improved in the past decade, others are living in overcrowded conditions and in homes needing major repair. This is particularly true of First Nations peoples on reserves and Inuit peoples in the North.</p>

			<p>Inuit live in some of the most crowded living conditions in Canada. (Crowding is defined as more than one person per room in the dwelling.)</p>

			<p>Most Inuit live in Inuit Nunaat, the northern region spanning the Northwest Territories, Nunavut, Qu&eacute;bec, and Labrador. In that region, more than 15,000 Inuit&mdash;38 percent of the total Inuit Nunaat population&mdash;lived in crowded conditions in 2006, down from 43 percent in 1996.</p>

		</div>

	</aside>

<p class="text--bold text--bold-grey">Indigenous Food Sovereignty</p>

<p>Indigenous peoples of Canada have harvested and eaten traditional food sources from the land, water, and air since the time of creation. These traditional foods provide ample nourishment to support optimal health and have been of fundamental importance to culture. Eating patterns depended on seasons and where people lived: coastal peoples ate seafood, inland peoples ate game foods and, in other regions of Canada and the Midwest, communities relied heavily on corn, beans, and squash.</p>

<p>Today, dietary patterns are much different compared to those in previous generations, which is one factor contributing to poor health outcomes for Canada&rsquo;s Indigenous population. Land dispossession, poverty, environmental contaminants, climate change, and food insecurity have all had a significant impact on dietary patterns and access to traditional foods.</p>

<p>Indigenous Food Sovereignty is the right of peoples, communities, and countries to define their own agricultural, labour, fishing, food, and land policies, which are ecologically, socially, spiritually, economically, and culturally appropriate to their unique circumstances. The First Nations Health Authority (FNHA) in British Columbia has developed Healthy Food Guidelines for First Nations Communities, not only to guide First Nations communities in making better food choices, but also to begin to regain sovereignty over their food systems. Participation in harvesting activities such as gathering berries, hunting, or fishing, and eating traditional foods at social and cultural events nourish bodies and spirits while protecting against illness. Another way to change the nutrition environment that has proved successful is to bring people together to participate in community gardens.</p>

	<aside class="chapter--main-aside cf">
		
		<div class="grid--half">
			<div class="hex-wrap">
				
				<div class="hexagon filter--greyscale" style="background-image:url('http://127.0.0.1:4000/assets/chapters/fallback.jpg')">
				  <div class="hex-top"></div>
				  <div class="hex-bottom"></div>
				</div>
				
			</div>
		</div>

		<div class="grid--half">

			<h3>Healthy Food Guide</h3>

			<p>These guidelines support community members in educating each other about better food and drink choices to offer in schools, homes, and restaurants, and at cultural and recreational events.</p>

			<!-- on click, will show modal -->
			<button class="button button--red">View online <i class="fa fa-arrow-right fa-white" aria-hidden="true"></i></button>
		</div>

	</aside>
</section>