{% if page.intro_quote or page.chapter_author %}
<header class="wrapper--inner chapter--header">
	
	<div class="hexagon-wrap">
		<div class="small-hexagon"></div>
		<div class="hexagon-chapter-number">{{ page.chapter_num }}</div>
	</div>

	{% if page.intro_quote %}
		<p class="text--chapter-quote">{{ page.intro_quote }}</p>
	{% endif %}

	{% if page.intro_quote_attr %}
		<p class="text--chapter-attr">—{{ page.intro_quote_attr }}</p>
	{% endif %}
	
	{% if page.chapter_author %}
		<p class="text--chapter-author text--bold text--bold-grey"><strong>Chapter author: </strong>{{ page.chapter_author }}</p>
	{% endif %}

</header>
{% endif %}