<header class="wrapper--table-wrap">
  <h2>A Model of the Social Determinants of Health</h2>

  <p>Among the variety of models of the social determinants of health that exist, the one developed at a conference held at York University in Toronto in 2002 has proven especially useful for understanding why some Canadians are healthier than others. The 14 social determinants of health in this model are as follows:</p>
</header>

<table>
  <tbody>
    <tr>
      <td>Aboriginal status</td>
      <td>Gender</td>
    </tr>
    <tr>
      <td>Disability</td>
      <td>Housing</td>
    </tr>
    <tr>
      <td>Early life</td>
      <td>Income and income distribution</td>
    </tr>
    <tr>
      <td>Education</td>
      <td>Race</td>
    </tr>
    <tr>
      <td>Employment and working conditions</td>
      <td>Social exclusion</td>
    </tr>
    <tr>
      <td>Food insecurity </td>
      <td>Social safety net</td>
    </tr>
    <tr>
      <td>Health services</td>
      <td>Unemployment and job security</td>
    </tr>
  </tbody>
</table>


