{% if page.intro_quote or page.chapter_author %}

<section class="wrapper--full">
	<img src="{{ page.image_path }}" alt="">
</section>

<header class="wrapper--inner chapter--header">

	{% if page.intro_quote %}
		<p class="text--chapter-quote">{{ page.intro_quote }}</p>
	{% endif %}

	{% if page.intro_quote_attr %}
		<p class="text--chapter-attr">—{{ page.intro_quote_attr }}</p>
	{% endif %}
	
	{% if page.chapter_author %}
		<p class="text--chapter-author text--bold text--bold-grey"><strong>Chapter author: </strong>{{ page.chapter_author }}</p>
	{% endif %}

</header>
{% endif %}