<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script type="text/javascript">
  
  console.log(' js-accordion-toggle ');
  
  $(document).ready(function($) {

    // accordian section
    // 
    $('.js-accordion-toggle').click(function(){

      console.log('click');

      $('.js-accordion-toggle').removeClass('li--active');
       // 'js-accordion-content')
      
      $(this).addClass('li--active'),
      $(this).next().addClass('li--active');

      //Expand or collapse this panel
      $(this).next().addClass('animated fadeIn').slideToggle('slow');

      //Hide the other panels
      $(".js-accordion-content").not($(this).next()).slideUp('fast');

    });

    $('.js-close').on('click', function(){
      $(".js-accordion-content").slideUp('fast');
    });

    var $window_height = parseInt( $(document).height() );

    // on scroll, update top nav
    $(window).on("scroll resize", function(){

        // get update box
        var $h2_position = $('#js-update-with-title').offset();
        
        var title_distance_from_top = parseInt( $('#js-update-with-title').offset().top )

        var percent_through_story = Math.round( (title_distance_from_top / $window_height) * 100 );

        console.log(percent_through_story);
        
        $('.progress--inner-wrap').css( 'width', '' + percent_through_story + '%' );

        // loop over all headers
        $('.js-section-title').each(function(){
            
            // check if header is at the top
            if ( $h2_position.top >= $(this).offset().top && $h2_position.top <= $(this).next().offset().top ) {
                
                $('#js-update-with-title').html( $(this).text() );
                
                return; //break the loop
            }

        });

    });

    // init the value
    $(window).trigger('scroll'); 

  }); // end doc ready
  

</script>