---

title: Canada’s “Social Safety Net”
category: sidebar-history
category_long: ""

history_chapter: 1
chapter_part: 1

small_image: /assets/chapters/1/photos/shutterstock_75511144.jpg
small_image_caption_name:

small_image_caption_text_1: "The federal government has created various social programs designed to boost employment rates, especially among youth. Some programs provide tax credits to employers who hire and train apprentices in certain trades, such as construction."

small_image_caption_text_2: "On February 12, 2016 Prime Minister Justin Trudeau marked his 100th day in office  by announcing a major boost to the Canada Summer Jobs Program, which helps students find work during the summer. The federal government spent $106 million on the program in 2015 to help create more than 34,000 summer jobs. New funding of up to $113 million each year for the next three years will allow the program to offer nearly 70,000 summer jobs to students from 2016 until 2018." 

small_image_caption_text_3: "The program aims to provide much-needed work experience for students while supporting small businesses and organizations that provide important community services."

large_image: /assets/chapters/1/photos/9-9081-00-00.jpg
large_image_caption_name: 

large_image_caption_text: Despite the services and systems in place to help those in need in Canada, some people still “fall through the cracks” because of program cutbacks, stricter eligibility criteria, or increased unemployment.

large_image_caption_text_2:

---

<section class="wrapper--inner wrapper--main-file cf">

	<p>The term <span class="span-keyword text--red">“welfare state”</span> is fequently used to describe a system of government whereby the state actively undertakes to protect the health and well-being of its citizens, especially those in financial need. The key elements of a welfare state are: (1) the use of the powers invested in government to provide essential social services to citizens, and (2) the use of grants, taxes, pensions, and other programs to provide basic income security. It is within this complex web of income security programs and social services that social workers practise their craft. The welfare state is, as it has loosely been described, a “social safety net.” It “catches” individuals and families in need and is designed to help them get back on their feet.</p>

	<p>The kinds of difficulties that individuals and their families may face are three-fold: economic, personal, and family-related.</p>

	<ul class="ul--list">
		<li class="li--bullet-item"><span class="text--bold text--bold-grey">Economic survival.</span> Retirement, unemployment, decreasing income, and rising prices are examples of contingencies that affect economic survival.</li>
		<li class="li--bullet-item"><span class="text--bold text--bold-grey">The integrity of the person.</span> Disability, illness, violence, homelessness, substance use, racism, discrimination, warfare, and death are examples of contingencies that affect the integrity of the person.</li>
		<li class="li--bullet-item"><span class="text--bold text--bold-grey">Survival of the family. </span>Separation, divorce, the care of aging family members, and additional children are contingencies that threaten the very survival of the family.</li>
	</ul>

	<p>In countries where the social safety net is weak or non-existent, there is little or no protection of this kind and individuals are left to fend for themselves. The Canadian social safety net gives citizens a greater sense of security and, many would argue, a greater sense of belonging.</p>

</section>

	<aside class="chapter--main-aside cf">
		
		<p class="text--smaller text--purple">Welfare state</p>
		<p class="text--smaller">A system of government in which the state plays an active role in the protection and advancement of the social and economic well-being of its citizens, based on the principles of equality of opportunity and the redistribution of wealth. Countries that generally follow this model &mdash;Britain, Canada, Germany, France, the Netherlands, and the Nordic countries, for example&mdash;are often referred to as &ldquo;welfare states.&rdquo;</p>
		
		<hr class="hr--grey">

		<p class="text--smaller text--purple">Social services</p>
		<p class="text--smaller">Non-monetary personal or community services, such as daycare, housing, crisis intervention, and support groups, provided by the state and non-profit organizations</p>
		
		<hr class="hr--grey">

		<p class="text--smaller text--purple">Income security</p>
		<p class="text--smaller">Income support in the form of social insurance, social assistance, and income supplementation that can be unconditional or based on an income or needs test; it can also be provided through the tax system</p>

	</aside>

<section class="wrapper--inner wrapper--main-file cf">

	<p class="text--bold text--bold-grey">Social Services and Income Security</p>

	<p>The services provided by professional social workers are part of a range of activities that fall more generally under the term “social welfare.” Social welfare, in this wider sense, includes not only the <span class="span-keyword text--red">social services</span> proper (such as child protection, women’s shelters, and counselling) but also a range of <span class="span-keyword text--red">income security </span>provisions that provide monetary or other material benefits to supplement income or maintain minimum income levels (such as Employment Insurance, Social Assistance, Old Age Security, and Workers’ Compensation).</p>

	<p>The distinction between the social services and income security is an important one, but one that is often hard to maintain in real life. The distinction is often a source of confusion for beginning social workers because frequently, difficulties come in pairs or in even more complex combinations. For example, a man who becomes ill or has an accident may also lose his job and, as a result, his home. A woman who is subjected to violence may be forced to leave her home and may need help obtaining child support as well as personal income support. A man with a substance use disorder may lose his job and be at risk of ending up homeless, incarcerated, or in the mental health system. Thus, social services are often needed to deal with problems that have their roots in economic insecurity and vice versa.</p>

	<p>This book deals with the social services and the everyday practice of social work. It does not cover in any depth the complex income security programs in Canada that provide monetary assistance to individuals and families. However, because a basic understanding of the income security system is necessary for effective social work practice, it is a good idea to gain an overview of this vast field. A companion volume, <em>Social Welfare in Canada: Understanding Income Security,</em> more fully examines the income security field.</p>

	<p class="text--bold text--bold-grey">Heated Debates</p>

	<p>The basic goal of the Canadian social welfare system is not to replace individual initiative but rather to help people through difficult times until they can rebuild their lives. Few would dispute that when people desperately need help, the state, if not fellow citizens, should lend a helping hand. Yet the role of the state in providing welfare services is controversial. Some people reject the idea that the state should play any part at all, even in relation to helping our most vulnerable citizens. Others see a modest role for government&#173;—but only when all else fails. Still others want to see the state play a larger, more active role in redressing inequalities and creating social harmony by working to improve the lives of all citizens. Debates over the proper role of social welfare are far-reaching and can be heated; a cool head is a useful asset, especially to a new social worker.</p>

	<p>Social services are provided to citizens through social policies developed by various levels of government and are delivered by means of specific social policies and programs.</p>

		<ul class="ul--list">
			<li class="li--bullet-item"><span class="span-keyword text--red">Social policies. </span>These are the overall rules and regulations, laws, and other administrative directives that set the framework for state social welfare activity. For example, universal medicare is a social policy to which the Government of Canada is committed.</li>
			<li class="li--bullet-item"><span class="span-keyword text--red">Social programs.</span> These are specific initiatives that follow from and implement social welfare policies. Continuing with the medicare example, there are special incentives or programs to encourage newly accredited physicians to move to outlying areas, thus ensuring greater equality of access to medical services (in line with the commitment to universal medicare for Canadians).</li>
		</ul>

</section>

{% for item in site.history %}
	{% if item.chapter_part == 1 and item.large_image %}
	<section class="wrapper--inner">
		<!-- image -->
		<aside class="aside--chart cf">
			<img src="{{ item.large_image }}" data-action="zoom">
			<div class="wrapper--caption-text">
				<h3 class="text--bold">{{ item.large_image_caption_name }}</h3>
				<p class="text--caption">{{ item.large_image_caption_text }}</p>
			</div>
		</aside>
	</section>
	{% break %}

	{% endif %}
{% endfor %}
