/* 
Table of contents: 

1. Defaults & resets
2. Typography
3. Colors
4. Images
5. Maps
6. Wrappers
7. Misc.
8. Footer
*/
/*

-----------------------------------------------
2. Typography
-----------------------------------------------

*/
/*
-----------------------------------------------
Links
-----------------------------------------------
*/
a {
  text-decoration: none; }
  a strong {
    color: inherit; }
  a:hover, a:focus {
    text-decoration: underline; }

/*
-----------------------------------------------
Headings
-----------------------------------------------
*/
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  font-weight: bold;
  font-family: "Alegreya Sans", Helvetica, Arial, sans-serif;
  line-height: 1.25;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2rem;
  margin-bottom: 0;
  padding-bottom: 0; }

h2 {
  margin-top: 1rem;
  font-size: 1.5rem; }

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem; }

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem; }

p,
td,
tr,
li {
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

.text--overview-quote {
  font-size: 30px;
  line-height: 30px;
  color: #313131; }

.text--bold {
  font-weight: bold; }
  .text--bold-red {
    color: red; }
  .text--bold-grey {
    color: grey; }

/*
-----------------------------------------------
Body text
-----------------------------------------------
*/
p {
  margin-top: 0;
  margin-bottom: 1rem; }

.text--big-letter {
  font-size: 30px; }

strong {
  color: #303030; }

/*
-----------------------------------------------
Lists
-----------------------------------------------
*/
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem; }

/*
-----------------------------------------------
Quotes
-----------------------------------------------
*/
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: 0.25rem solid #e5e5e5; }
  blockquote p:last-child {
    margin-bottom: 0; }

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px; }

.wrapper--outer {
  width: 100%; }

.wrapper--inner {
  max-width: 768px;
  display: block;
  margin: 5px auto;
  border: 1px solid darkblue; }

/*

sidebar wrappers

*/
.chapter--sidebar-history {
  border: 3px solid red; }

.accordion-toggle {
  cursor: pointer; }

.accordion-content {
  display: none; }

.accordion-content.default {
  display: block; }

table {
  border-top: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5;
  border-spacing: 0;
  margin: 1.875em 0;
  width: 100%; }

table td,
table th {
  padding: 15px;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  vertical-align: top;
  font-weight: bold; }

table tr:nth-of-type(odd) {
  background: #f5f5f5;
  text-align: left; }

nav {
  background: #313131; }
  nav h1,
  nav ul {
    padding: 0;
    margin: 0; }
  nav h1,
  nav li {
    color: #fff; }
  nav h1 {
    float: left;
    font-size: 16px; }
  nav ul {
    float: right; }
    nav ul li {
      float: left; }
