{% include head.html %}

<!-- chapter navigation -->
<!-- {% include chapter-navigation.html %} -->
<!-- ./end chapter navigation -->

<section class="wrapper--outer">

	
	<!-- chapter header -->
	{% include chapter-header.html %}
	<!-- ./end chapter header -->

	<!-- chapter intro -->
	{% include chapter-intro.html %}
	<!-- ./end chapter intro -->
	
	<!-- chapter overview -->
	{% include chapter-overview.html %}
	<!-- ./end chapter overview -->

	<div class="divider"></div>
	
	<!-- content from each chapter's md/html file -->
	{{ content }}
	<!-- ./end content from each chapter's md/html file -->

	<!-- get main file -->
	{% if page.chapter_start != blank %}
	
		{% assign chapter_start = "chapter-" %}
		{% assign chapter_end = "-main-file.html" %}

		{% capture get_chapter_main %}{{ chapter_start }}{{ page.chapter_num }}{{ chapter_end }}{% endcapture %}
		
		{% include {{ get_chapter_main }} %}

	{% endif %}<!-- ./end get main file -->

	<div class="divider"></div>
	
	<!-- stories from the field -->
	{% include chapter-stories-from-field.html %}
	<!-- ./end stories from the field -->

	<div class="divider"></div>

	<!-- chapter in-focus -->
	{% include chapter-in-focus.html %}
	<!-- ./end chapter in-focus -->
	
	<div class="divider"></div>

	<!-- sidebar -->
	{% include chapter-history-sidebar.html %}
	
	<!-- chapter social work -->
	{% include chapter-social-work.html %}
	<!-- ./end chapter social work -->

	<div class="divider"></div>

	<!-- person profile -->
	{% include chapter-social-work-practitioner.html %}
	<!-- person profile -->

	<div class="divider"></div>

	<!-- end of chapter review -->
	{% include chapter-review.html %}
	<!-- end of chapter review -->

	<!-- chapter-6-1-table.html -->
	{% include chapter-6-1-table.html %}
	<!-- chapter-6-1-table.html -->
	
</section>

{% include footer.html %}